.bg_anime {
  background-image: url(/image_box_shadow_bottom.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-shadow: rgb(0 0 0 / 80%) 1px 1px 0;
}

.bg_paid {
    background-image: url(/icon_pay.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 15px auto;
    display: inline-block;
    height: 11px;
    width: 15px;
}

.bg_button_left {
  background-image: url(/btn_handle.png);
  background-position: -1.875rem 0;
  background-repeat: no-repeat;
  background-size: 3.75rem auto;
  top: 3.4rem;
  left: -1.875rem;
  z-index: 10;
  position: absolute;
  cursor: pointer;
  height: 3.75rem;
  width: 1.875rem;
  opacity: 0;
}

.bg_button_right {
  background-image: url(/btn_handle.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 3.75rem auto;
  top: 3.4rem;
  right: -1.875rem;
  z-index: 10;
  position: absolute;
  cursor: pointer;
  height: 3.75rem;
  width: 1.875rem;
  opacity: 0;
}
